<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\CRSolutions.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
	  <security>
        <requestFiltering>
            <requestLimits maxAllowedContentLength="90000000" /> <!-- Aquí puedes establecer el tamaño máximo permitido (en bytes) -->
        </requestFiltering>
    </security>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: B633D676-CA2C-4544-BF68-31FE712859C4-->