.login-card{
  border: solid 2px #0c2649;
  border-radius: 6px;
  padding-bottom: 10%;
}


.logo-login{
  /* margin: auto; */
  text-align: -webkit-center;
}

.barHeader{   
    /* background-image: url(../images/nav.png); */
    background-color: white;
    height: 80px;
    width: 100%;
    background-size: cover;
    position: relative;

   /* position: fixed;
    top: 0;
    overflow: hidden;*/
}

.lema{
  margin: auto;
  text-align: center;
  font-size: xx-large;
  padding-top: 10%;
  padding-bottom: 10%;
  display: block;
}

.barHeaderblue{ 
  border-top: #313233 solid 15px;    
  background-color: #0c2649;
  /* height: 120px; */
  width: 100%;
  
}

.encabezado{
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin: 50px;
}

.main {
    padding: 60px;
    margin-top: 5%px;
    /*height: 1500px; *//* Used in this example to enable scrolling */
  }

.separador{
    margin: 5%;
}
.logo{
    margin-bottom: 8%;
    
}
.botones-menu{
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  display: inline;
  margin-left: 15%;
}

.boton-menu{ 
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
   
}

.boton-div{
  color: #0c2649;
  background-color: white;
  width: 30px;
  text-align: center;
}

.logo-img{
  height: 100px;
  width: auto;
  margin-left: 10%;
}
.viñetas{
    font-weight: bold;
    color: #0c2649;
    margin-right: 13%;
}

.opcion-menu{
    margin: auto;
}

.subviñetas{   
    color: white;
}
.label{
    background-color: darkgray;
    border-radius:  5px;
    text-align: center;
}

.input-form{
    border: white 2px solid;
    border-radius:  5px;

}

.formularios {
    margin: 2% 0 0 0;
}

.login-Border {
    box-shadow: 60px -16px rgb(77, 80, 80);
}

/* .bordes{
    border: darkgoldenrod 2px solid;
    border-radius: 1px;
    height: 100%;
    box-shadow: 1px 1px 18px 7px rgba(184,134,11,0.82);
} */

.botones{
    background-color: #0c2649;
    color: white;
    width: 100%;
}

.botones-gold{
    background-color: #ce9f41;
    color: white;
    border: solid 1px #ce9f41;
    width: 100%;
}

.botones-green{
  background-color: #00bf33;
  color: white;
  border: solid 1px #00bf33;
  width: 100%;
}

.botones-gray{
    background-color: lightgray;
    color: black;
    width: 100%;
}

.botones:hover,.botones-gray:hover, .botones-gold:hover{
    background-color: white;
    border: solid 1px #0c2649;
}

input:focus{  
    /* box-shadow: 1px 1px 18px 7px rgba(184,134,11,0.82) !important; */
    box-shadow: .5px .5px 7px .2px #0c2649 !important;    
}
input{
    border: #0c2649 1px solid !important;
}

select:focus {
        /* box-shadow: 1px 1px 18px 7px rgba(184,134,11,0.82) !important; */
    box-shadow: .5px .5px 7px .2px #0c2649 !important;
}

select {
    border: #0c2649 1px solid !important;
}

.title-catalogue{
    background-color: #0c2649;
    padding: 1.5%;
    color:white;
    font-weight: bold;
    font-size: larger;
    width: fit-content;
   /* position: absolute;*/
    top: 15px;
    /*right: 30px;*/
    border-radius: 10px;
    margin:auto;
    
}

.logo-bar{  
  padding: 1.5%;  
  width: fit-content;
  position: absolute;
  top: 0px;
  left: 30px;  
}

.logo-bar img{
  width: 20%;
  height: auto;
  padding: 0;
  margin: 0;
}

.centrando{
    margin: auto;
}

.welcome{
    font-size: 3rem;
    color:#0c2649
}

.botones-pass{
    color: #0c2649;
    background-color: white;
    border: #0c2649 solid 2px;
    width: 100%;
}

.botones-pass:hover{
    background-color: #0c2649;
    color: white;
    border: #0c2649 solid 2px;
}


/* #formFile{
    opacity: 0;
    height: 100%;
    width: 100%;    
    display: inline-block;
}

#formFile::before{
    content: 'Seleccionar';
}
.photo-upload{
    position: relative;
  display: inline-block;
}

.photo-upload::before{
    background-color: rgb(12, 12, 65);
    color: white;
    width: 150px;
    position: absolute;
    display: flex;
    justify-content: center;
} */

.file-select {
    position: relative;
    /* display: inline-block; */
  }
  
  .file-select::before {
    background-color: #0c2649;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar'; /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .file-select input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 60px;
    display: inline-block;
  }
  
  #src-file1::before {
    content: 'Buscar Archivo';
  }
  
  /* #src-file2::before {
    content: 'Seleccionar Archivo 2';
  } */

  @font-face {
    font-family: "FontAwesome";
    src: url("fontawesome-webfont.woff");
  }

  /* boton audio */
  .audio {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .audio::before {
    background-color: #0c2649;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar'; /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;    
  }
  
  .audio input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  
  #src-file2::before {
    content: "Subir";
  }


  /* boton reporte */

  .reporte {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .reporte::before {
    background-color: #0c2649;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar'; /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .reporte input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  
  #src-file3::before {
    content: 'Subir';
  }


  /* boton creditos */

  .creditos {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .creditos::before {
    background-color: #0c2649;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar'; /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .creditos input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  
  #src-file4::before {
    content: 'Subir';
  }

  .test{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
  }


  .buttons-profile{
    width: 100%;
    height: 60px;
  }

  #button-no-photo::before{
    content: 'No Foto';
  }

  #button-no-photo{
    background-color: #ce9f41;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  #button-barcode::before{
    content: 'Código de Barras';
  }

  #button-barcode{
    background-color: #b2b4b8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #button-credential::before{
    content: 'Genere Credencial';
  }

  #button-credential{
    background-color: #0c2649;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }




  .container-1{
    /* width: 300px; */
    vertical-align: middle;
    white-space: nowrap;
    /* position: relative; */
    display: inline;
  }

  .container-1 input#search{
    width: 100%; 
    height: 50px;
    /* background: #2b303b; */
    border: none;
    font-size: 10pt;
    /* float: left; */
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
 }
 .container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
 .container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
 .container-1 input#search:-ms-input-placeholder {  
    color: #65737e;  
 }


 .alinea-botones{
  margin: auto;
 }



 video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}


.user-session {
    color: white;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 5%;
    /*font-weight:bold;*/
    
}

.user-session a {
    color:white;
}

@media (max-width: 767px){
    .user-session {
        color: white;
        text-align: right;
        text-align:center;
        
       /* font-weight: bold;*/
    }
}